* {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
}

.header-top {
    display: flex;
    gap: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    cursor: pointer;
}

.header-bottom {
    display: flex;
    height: 50%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    margin-bottom: 3px;
}

.header-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-bottom-left {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 600px;
    margin-right: auto;
}

.hero-button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 600;
    background-color: #3882F6;
    cursor: pointer;
}

.cta-button:hover,
.hero-button:hover {
    background-color: #0363ff;
    transition-duration: 0.4s;
    font-weight: 800;
}

.header-photo {
    width: 350px;
    height: 175px;
}

.middle {
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.middle-top {
    display: flex;
    justify-content: center;
}

.info-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100px;
    margin-right: 65px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.citation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 30vh;
    padding-right: 500px;
    padding-left: 500px;
}

.citation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.citation-author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 60px;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 25vh;
    padding: 0 250px;
}

.cta {
    width: 100%;
    height: 50%;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #E5E7EB;
    color: #F9FAF8;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.cta-text-wrapper {
    display: flex;
    flex-direction: column;
}

.cta-header {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 20px;
}

.cta-text {
    color: #E5E7EB;
    font-weight: 500;
}


.footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footer-text {
    color: #E5E7EB;
}